@charset 'UTF-8';
/* reset */
body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input,
textarea
{
    border-radius: 0;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

main,
section,
article,
time
{
    display: block;
}

/* /reset */
/* base */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'Lato', '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 0;
    line-height: 0;

    position: relative;

    letter-spacing: 0;
    word-wrap: break-word;

    color: #000; 

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

img
{
    width: 100%;
}

.sp
{
    display: none;
}
@media screen and (max-width: 425px)
{
    .sp
    {
        display: block !important;
    }
}

.tb
{
    display: none;
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    .tb
    {
        display: block !important;
    }
}

.pc
{
    display: none;
}
@media screen and (min-width: 1000px)
{
    .pc
    {
        display: block !important;
    }
}

.cf
{
    zoom: 1;
}
.cf:after
{
    display: block;
    clear: both; 

    content: '';
}

a
{
    display: block;
}

img
{
    pointer-events: none;
}

/* /base */
/* z-index */
header,
main,
footer
{
    z-index: 2;
}

#bg
{
    z-index: 1;
}

/* /z-index */
/* header */
header
{
    position: relative;

    display: table;

    width: 100%;
}
@media screen and (max-width: 425px)
{
    header
    {
        height: 100vh;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    header
    {
        height: 100vh;
    }
}
@media screen and (min-width: 1000px)
{
    header
    {
        height: 100vh; 
        min-height: 660px;
    }
}
header .h1_01
{
    display: table-cell;

    text-align: center; 
    vertical-align: middle;
}
@media screen and (max-width: 425px)
{
    header .h1_01
    {
        padding-top: 100px;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    header .h1_01
    {
        padding-top: 100px;
    }
}
@media screen and (min-width: 1000px)
{
    header .h1_01
    {
        padding-bottom: 140px;
    }
}
@media screen and (min-width: 1000px) and (max-height: 759px)
{
    header .h1_01 img
    {
        width: 260px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 760px)
{
    header .h1_01 img
    {
        width: 383px;
    }
}
header .p_01
{
    position: absolute;
}
@media screen and (min-width: 1000px)
{
    header .p_01
    {
        top: 36px;
        right: 36px;
    }
}
@media screen and (min-width: 1000px) and (max-height: 759px)
{
    header .p_01
    {
        width: 120px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 760px)
{
    header .p_01
    {
        width: 167px;
    }
}
header .time_01
{
    position: absolute;
    bottom: 18px;
    left: 0;

    display: block;

    width: 100%;

    text-align: center;
}
@media screen and (min-width: 1000px)
{
    header .time_01
    {
        margin: 0 auto;
    }
}
@media screen and (min-width: 1000px) and (max-height: 759px)
{
    header .time_01 img
    {
        width: 800px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 760px)
{
    header .time_01 img
    {
        width: 1000px;
    }
}

/* /header */
/* main */
main
{
    position: relative;
}

/* /main */
/* main_content */
#index .mc
{
    position: relative;

    background-color: #fff;
}
#index .mc .h2_01
{
    padding: 14px 0;
}
#index .mc .p_01
{
    font-size: 12px;
    font-weight: normal;
    line-height: 1.7;

    position: absolute;
    z-index: 2;
    top: 450px;
    left: 0;

    width: 100%;

    text-align: center;
    letter-spacing: .04em;

    color: #fff;
}
#index .mc .bx-wrapper
{
    position: relative;
    z-index: 1;
}
@media screen and (min-width: 1000px) and (max-height: 759px)
{
    #index .mc .bx-wrapper,
    #index .mc .bx-viewport,
    #index .mc .mc_slider
    {
        height: 500px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 760px)
{
    #index .mc .bx-wrapper,
    #index .mc .bx-viewport,
    #index .mc .mc_slider
    {
        height: 700px;
    }
}
#index .mc .bx-wrapper li,
#index .mc .bx-viewport li,
#index .mc .mc_slider li
{
    height: 100%;

    background-size: cover !important;
}
#index .mc .bx-wrapper li:nth-child(1),
#index .mc .bx-viewport li:nth-child(1),
#index .mc .mc_slider li:nth-child(1)
{
    background: url(../images/mc_figure_01.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(2),
#index .mc .bx-viewport li:nth-child(2),
#index .mc .mc_slider li:nth-child(2)
{
    background: url(../images/mc_figure_01.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(3),
#index .mc .bx-viewport li:nth-child(3),
#index .mc .mc_slider li:nth-child(3)
{
    background: url(../images/mc_figure_01.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(4),
#index .mc .bx-viewport li:nth-child(4),
#index .mc .mc_slider li:nth-child(4)
{
    background: url(../images/mc_figure_01.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(5),
#index .mc .bx-viewport li:nth-child(5),
#index .mc .mc_slider li:nth-child(5)
{
    background: url(../images/mc_figure_01.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(6),
#index .mc .bx-viewport li:nth-child(6),
#index .mc .mc_slider li:nth-child(6)
{
    background: url(../images/mc_figure_01.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li .l_block_01,
#index .mc .bx-viewport li .l_block_01,
#index .mc .mc_slider li .l_block_01
{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 40px 0;

    text-align: center; 

    background: rgba(0, 0, 0, .6);
}
#index .mc .bx-wrapper li .l_block_01 .l_box_01,
#index .mc .bx-viewport li .l_block_01 .l_box_01,
#index .mc .mc_slider li .l_block_01 .l_box_01
{
    display: inline-block;

    width: 310px;

    text-align: left; 
    vertical-align: top;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_01 h3,
#index .mc .bx-viewport li .l_block_01 .l_box_01 h3,
#index .mc .mc_slider li .l_block_01 .l_box_01 h3
{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;

    color: #fff;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_01 h3 i,
#index .mc .bx-viewport li .l_block_01 .l_box_01 h3 i,
#index .mc .mc_slider li .l_block_01 .l_box_01 h3 i
{
    font-size: 16px;
    font-weight: normal; 

    display: block;

    margin-top: .6em;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_01 time,
#index .mc .bx-viewport li .l_block_01 .l_box_01 time,
#index .mc .mc_slider li .l_block_01 .l_box_01 time
{
    font-size: 14px;
    line-height: 1;

    margin-top: .7em;

    color: #fff;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_02,
#index .mc .bx-viewport li .l_block_01 .l_box_02,
#index .mc .mc_slider li .l_block_01 .l_box_02
{
    display: inline-block;

    width: 490px;

    text-align: left; 
    vertical-align: top;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_02 p,
#index .mc .bx-viewport li .l_block_01 .l_box_02 p,
#index .mc .mc_slider li .l_block_01 .l_box_02 p
{
    font-size: 12px;
    line-height: 2;

    color: #fff;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_02 p:nth-child(2),
#index .mc .bx-viewport li .l_block_01 .l_box_02 p:nth-child(2),
#index .mc .mc_slider li .l_block_01 .l_box_02 p:nth-child(2)
{
    margin-top: .4em;
}
#index .mc .mc_pager
{
    position: absolute;
    z-index: 2;
    top: 190px;
    left: 0;

    width: 100%;

    text-align: center;
}
#index .mc .mc_pager li
{
    display: inline-block;

    margin: 0 20px;
}
#index .mc .mc_pager li a
{
    cursor: pointer; 
    -webkit-transition: ease .24s all;
            transition: ease .24s all;

    opacity: .6;
}
#index .mc .mc_pager li a:hover,
#index .mc .mc_pager li a.active
{
    opacity: 1;
}

/* /main_content */
/* bg */
#bg
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
}
#bg .ul_01 li
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
#bg .ul_01 li img
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    min-width: 100%;
    height: auto; 
    min-height: 100%;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/* /bg */
/* footer */
footer
{
    position: relative;
}
footer .l_block_01
{
    padding: 18px 0;

    background-color: #314ffb;
}
footer .l_block_01 .l_block_01_inner
{
    position: relative;

    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 800px; 
    margin: 0 auto;
    padding: 0 100px;
}
footer .l_block_01 .l_block_01_inner .h4_01
{
    display: inline-block;

    vertical-align: middle;
}
footer .l_block_01 .l_block_01_inner .ul_01
{
    display: inline-block;

    vertical-align: middle;
}
footer .l_block_01 .l_block_01_inner .ul_01 li
{
    display: inline-block;

    width: 21px; 
    margin-left: 24px;

    vertical-align: middle;
}
footer .l_block_01 .l_block_01_inner .div_01
{
    position: absolute;
    top: 6px;
    right: 104px;
}
footer .l_block_01 .l_block_01_inner .div_01 a
{
    width: 20px;
    height: 20px;

    -webkit-transition: all .24s ease;
            transition: all .24s ease; 
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}
footer .l_block_01 .l_block_01_inner .div_01 a:hover
{
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
        -ms-transform: rotate(-45deg) translate(2px, -2px);
            transform: rotate(-45deg) translate(2px, -2px);
}
footer .l_block_01 .h4_01
{
    font-size: 14px;

    color: #fff;
}
footer .l_block_02
{
    background-color: #fff;
}
footer .l_block_02 .l_block_02_inner
{
    width: 800px;
    margin: 0 auto;
    padding: 10px 100px 26px;

    text-align: center;
}
footer .l_block_02 .l_block_02_inner .ul_02
{
    display: inline-block;

    vertical-align: middle;
}
footer .l_block_02 .l_block_02_inner .ul_02 li
{
    display: inline-block;

    height: 41px; 

    vertical-align: middle;
}
footer .l_block_02 .l_block_02_inner .ul_02 li:nth-child(n+2)
{
    margin-left: 20px;
}
footer .l_block_02 .l_block_02_inner .ul_02 li img
{
    width: auto;
    height: 100%;
}
footer .l_block_02 .l_block_02_inner .p_01
{
    font-size: 9px;
    line-height: 1.4; 

    display: inline-block;

    margin-left: 10px;

    text-align: left;
    vertical-align: middle;
}
footer .p_02
{
    font-size: 10px;
    line-height: 1; 

    margin-top: 10px;

    text-align: center;
    letter-spacing: .08em;
}

/* /footer */
#index .about .h2_01,
#index .mc .h2_01
{
    font-size: 36px;
    font-weight: bold;
    line-height: 1;

    text-align: center; 
    letter-spacing: .04em;

    color: #314ffb;
}
#index .about .h2_01 i,
#index .mc .h2_01 i
{
    font-size: 14px;
    line-height: 1;

    display: inline-block;

    margin-top: .4em;
    padding: 2px 12px;

    color: #000;
    background-color: #e83428;
}

#index .about .h2_02
{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.7;

    text-align: center;
    letter-spacing: .1em;

    color: #fff;
}

#index .news .h2_01
{
    font-size: 36px;
    font-weight: bold;
    line-height: 1;

    text-align: center;

    color: #fff;
}

#index .sponsor .h2_01,
#index .sponsor .h2_02,
#index .sponsor .h2_03
{
    font-size: 14px;
    font-weight: bold;
    line-height: 1;

    text-align: center;

    color: #fff;
}

#index .news .h3_01
{
    font-size: 20px;
    font-weight: bold;
    line-height: 1; 

    padding: 18px 10px;

    letter-spacing: .02em;
    letter-spacing: .06em;

    color: #314ffb;
    background-color: #fff;
}

#p_01,
#p_02,
#index .news .p_01,
#index .sponsor .p_01,
#index .about .p_01,
#index .about .p_02
{
    font-size: 12px;
    line-height: 1.7;

    letter-spacing: .02em;

    color: #fff;
}

#p_02,
#index .news .p_01,
#index .sponsor .p_01
{
    text-align: center;
}

.ul_01 li
{
    display: inline-block; 

    width: 33.3333%;
}

#index .sponsor .address_01 p,
#index .sponsor .address_02 p
{
    font-size: 12px;
    line-height: 1.7;

    text-align: center; 

    color: #fff;
}
#index .sponsor .address_01 p:nth-child(n+2),
#index .sponsor .address_02 p:nth-child(n+2)
{
    font-size: 10px; 

    margin-top: .4em;
}
#index .sponsor .address_01 p a,
#index .sponsor .address_02 p a
{
    display: inline;

    text-decoration: underline;
}

#index .sponsor .address_01 p:nth-child(2),
#index .sponsor .address_02 p:nth-child(2)
{
    font-size: 11px;
}

/* layout */
/* about */
#index .about
{
    display: table;

    width: 1000px;
    height: 100vh; 
    min-height: 800px;
    margin: 0 auto;
}
#index .about .l_inner
{
    display: table-cell;

    vertical-align: middle;
}
#index .about .l_inner .h2_02
{
    margin-top: 26px;
}
#index .about .l_inner p
{
    width: 380px; 
    margin: 0 auto;
}
#index .about .l_inner p.p_01
{
    margin-top: 42px;
}
#index .about .l_inner p.p_02
{
    margin-top: 16px;
}

/* /about */
/* news */
#index .news
{
    padding: 68px 78px;

    border: 1px solid #fff;
    background-color: #314ffb;
}
#index .news .p_01
{
    margin-top: 40px;
}
#index .news .l_block_01
{
    margin-top: 30px;

    text-align: center;
}
#index .news .l_block_01 .l_box_01,
#index .news .l_block_01 .l_box_02
{
    display: inline-block;

    width: 360px; 

    vertical-align: top;
}
#index .news .l_block_01 .l_box_02
{
    margin-left: 40px;
}

/* /news */
/* sponsor */
.sponsor
{
    padding: 44px 0;
}
.sponsor .h2_02,
.sponsor .h2_03
{
    margin-top: 40px;
}
.sponsor .p_01
{
    margin-top: 6px;
}
.sponsor .address_01,
.sponsor .address_02
{
    margin-top: 6px;
}

/* /sponsor */
/* /layout */
#bg
{
    -webkit-transition: all 1.2s ease;
            transition: all 1.2s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);

    background-color: #000;
}
#bg .bx-wrapper,
#bg .bx-viewport,
#bg .ul_01
{
    width: 100%;
    height: 100vh !important;
}
#bg.blur
{
    filter: blur(20px);
}
#bg.blur > *
{
    opacity: .8;
}
