/* layout */

/* about */
#index .about {
  margin: 0 auto;
  padding: 70px 0;
  width: 1000px;
  .h2_02 {
    margin-top: 20px;
  }
  p {
    margin: 0 auto;
    width: 380px;
    &.p_01 {
      margin-top: 42px;
    }
    &.p_02 {
      margin-top: 16px;
    }
  }
}
/* /about */

/* main_content */
#index .mc {
  background-color: $c-white;
}
/* /main_content */

/* news */
#index .news {
  background-color: $c-blue;
}
/* /news */


/* /layout */