//h2
#index .about .h2_01,
#index .mc .h2_01 {
  color: $c-blue;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .04em;
  text-align: center;
  i {
    display: inline-block;
    margin-top: .4em;
    padding: 2px 12px;
    color: $c-black;
    font-size: 14px;
    line-height: 1;
    background-color: $c-red;
  }
}
#index .about .h2_02 {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: .1em;
  text-align: center;
  color: $c-white;
}
#index .news .h2_01 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: $c-white;

}
#index .sponsor .h2_01,
#index .sponsor .h2_02,
#index .sponsor .h2_03 {
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: $c-white;
}

//h3
#index .news .h3_01 {
  padding: 18px 10px;
  letter-spacing: .02em;
  background-color: $c-white;
  color: $c-blue;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .06em;
  line-height: 1;
}

//p
#p_01,
#index .about .p_01,
#index .about .p_02 {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: .02em;
  color: $c-white;
}
#p_02,
#index .news .p_01,
#index .sponsor .p_01 {
  @extend #p_01;
  text-align: center;
}

//ul
.ul_01 {
  li {
    width: 33.3333%;
    display: inline-block;
  }
}

//address
#index .sponsor .address_01,
#index .sponsor .address_02 {
  p {
    font-size: 12px;
    line-height: 1.7;
    color: $c-white;
    text-align: center;
    &:nth-child(n+2) {
      margin-top: .4em;
      font-size: 10px;
    }
    a {
      display: inline;
      text-decoration: underline;
    }
  }
  p:nth-child(2) {
    font-size: 11px;
  }
}
